<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" routerLink="/myrequest"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="8">
        <ion-title> Blood Request</ion-title>
      </ion-col>
      <ion-col size="2">
       
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-top: -50%" class="scroll-content">
  <form [formGroup]="BloodRequestForm">
    <ion-row>

      <ion-col size="12">
        <div class="title">Patient Details </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="person" class="input-icon"></ion-icon>
        <ion-input label="First & last name" formControlName="FullName" label-placement="floating" fill="outline" placeholder=" First & last name" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="calendar" class="input-icon"></ion-icon>
        <ion-input label="Age" formControlName="Age" type="tel" inputmode="numeric" [maxlength]="3" label-placement="floating" fill="outline" placeholder=" Age" class="custom-input" (ionInput)="allowOnlyDigits($event)"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>

      

      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="medical" class="input-icon"></ion-icon>
        <ion-input readonly="true" (click)="openPicker('gender')" [value]="selectedGender" label="Gender" label-placement="floating" fill="outline" placeholder="Gender" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>



      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="medical" class="input-icon"></ion-icon>
        <ion-input readonly="true" (click)="openPicker('bloodGroup')" [value]="selectedBloodType" label="Blood Group" label-placement="floating" fill="outline" placeholder=" Blood Group" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="male" class="input-icon"></ion-icon>
        <ion-input readonly="true" (click)="openPicker('bloodType')" [value]="selectedtype" label="Blood type" label-placement="floating" fill="outline" placeholder=" Blood type" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>


      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="calculator" class="input-icon"></ion-icon>
        <ion-input readonly="true" (click)="openPicker('bloodUnit')" [value]="selectedBloodUnit" label="Number of units" label-placement="floating" fill="outline" placeholder=" Number of units" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="chatbubble-ellipses" class="input-icon"></ion-icon>
        <ion-input readonly="true" (click)="openPicker('reason')" [value]="selectedReason" label="Reason" label-placement="floating" fill="outline" placeholder=" Reason" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-icon name="calendar" class="input-icon"></ion-icon>
        <ion-input type="datetime-local" *ngIf="flags !=3 " label="Required Date" formControlName="RequiredDate" label-placement="floating" fill="outline" placeholder=" Required Date" class="custom-input"></ion-input>
        <ion-input label="Required Date" *ngIf="flags ==3 " [value]="Requireddate" label-placement="floating" fill="outline" placeholder=" Required Date" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>


      <ion-col size="12">
        <div class="title">Contact Info </div>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="10">
        <ion-icon name="Contact Name" class="input-icon"></ion-icon>
        <ion-input label="Contact First Name" formControlName="ContactName" label-placement="floating" fill="outline" placeholder=" Contact Name" class="custom-input"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="10">
        <ion-icon name="Contact Number" class="input-icon"></ion-icon>
        <ion-input label="Contact Number" type="tel" inputmode="numeric" [maxlength]="10" formControlName="ContactNumber" label-placement="floating" fill="outline" placeholder=" Contact Number" class="custom-input" (ionInput)="allowOnlyDigits($event)"></ion-input>
      </ion-col>
        
      <div>
      </div>
    </ion-row>
  </form>
  
</ion-content>

  <!-- Custom Bottom Drawer / Picker System -->
  <div class="drawer-overlay" [class.active]="activePicker !== null" (click)="closePicker()"></div>
  
  <div class="bottom-drawer" [class.active]="activePicker !== null">
    <div class="drawer-header">
      <div class="drawer-title">
        {{ activePicker === 'gender' ? 'Select Gender' : 
           activePicker === 'bloodGroup' ? 'Select Blood Group' : 
           activePicker === 'bloodType' ? 'Select Blood Type' : 
           activePicker === 'bloodUnit' ? 'Select Number of Units' : 
           activePicker === 'reason' ? 'Select Reason' : '' }}
      </div>
      <button class="drawer-close" (click)="closePicker()">Close</button>
    </div>
    
    <div class="drawer-content">
      <!-- Gender Selection -->
      <div *ngIf="activePicker === 'gender'">
        <ion-list lines="full">
          <ion-item *ngFor="let obj of Genders" (click)="selectGender(obj.value)" detail="false" class="drawer-item">
            <ion-label>{{obj.label}}</ion-label>
            <ion-icon name="checkmark-circle" slot="end" *ngIf="selectedGender === obj.value" style="color: var(--primary-red);"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

      <!-- Blood Group Selection -->
      <div *ngIf="activePicker === 'bloodGroup'">
        <div style="max-height: 400px; overflow-y: auto;">
          <ion-list lines="full">
            <ng-container *ngFor="let obj of BloodGroups">
              <ion-item *ngIf="obj.Status == 1" (click)="selectBloodGroup(obj)" detail="false" class="drawer-item">
                <ion-label>{{obj.BLGName}}</ion-label>
                <ion-icon name="checkmark-circle" slot="end" *ngIf="selectedBloodType === obj.BLGName" style="color: var(--primary-red);"></ion-icon>
              </ion-item>
            </ng-container>
            <ion-item *ngIf="BloodGroups.length === 0" class="ion-text-center">
              <ion-label color="medium">No blood groups found</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <!-- Blood Type Selection -->
      <div *ngIf="activePicker === 'bloodType'">
        <ion-list lines="full">
          <ion-item *ngFor="let obj of types" (click)="selectblood(obj.value)" detail="false" class="drawer-item">
            <ion-label>{{obj.label}}</ion-label>
            <ion-icon name="checkmark-circle" slot="end" *ngIf="selectedtype === obj.value" style="color: var(--primary-red);"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

      <!-- Number of Units Selection -->
      <div *ngIf="activePicker === 'bloodUnit'">
        <div style="max-height: 400px; overflow-y: auto;">
          <ion-list lines="full">
            <ng-container *ngFor="let obj of BloodUnits">
              <ion-item *ngIf="obj.Status == 1" (click)="selectBloodUnit(obj)" detail="false" class="drawer-item">
                <ion-label>{{obj.UnitsofBlood}}</ion-label>
                <ion-icon name="checkmark-circle" slot="end" *ngIf="selectedBloodUnit === obj.UnitsofBlood" style="color: var(--primary-red);"></ion-icon>
              </ion-item>
            </ng-container>
            <ion-item *ngIf="BloodUnits.length === 0" class="ion-text-center">
              <ion-label color="medium">No units found</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <!-- Reason Selection -->
      <div *ngIf="activePicker === 'reason'">
        <div style="max-height: 400px; overflow-y: auto;">
          <ion-list lines="full">
            <ng-container *ngFor="let obj of Bloodreasondata">
              <ion-item *ngIf="obj.Status" (click)="selectReason(obj)" detail="false" class="drawer-item">
                <ion-label>{{obj.Reason}}</ion-label>
                <ion-icon name="checkmark-circle" slot="end" *ngIf="selectedReason === obj.Reason" style="color: var(--primary-red);"></ion-icon>
              </ion-item>
            </ng-container>
            <ion-item *ngIf="!Bloodreasondata || Bloodreasondata.length === 0" class="ion-text-center">
              <ion-label color="medium">No reasons found</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
<ion-footer >
  <button expand="full" class="red-button" ripple (click)="AddRequestForm()">Submit</button><br />
</ion-footer>
