<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="1"><ion-icon name="chevron-back-outline" (click)="back()"></ion-icon></ion-col>
      <ion-col size="11">
        <ion-title>Final Review</ion-title>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col style=" margin-left:15px">
      <h2>Donation and validation</h2>
      You will recieve an certificate of Appriciation once your Donatin is validated

    </ion-col>
  </ion-row>
  <h4 style="text-align:center">Final Review</h4>

  <ion-row>
    <br />
    <ion-col class="image-container" >
      <img [src]="MySelectedImage" alt="Framed Image" class="combined-image" />
   
    </ion-col>

    
   
  </ion-row>
  <ion-row class="rows">
    <ion-col size="12" class="submit-col">
      <button class="button-pushable" role="button" [disabled]="isSubmitting" (click)="submit()">
        <span class="button-shadow"></span>
        <span class="button-edge"></span>
        <span class="button-front text">
          <span class="btn-content">
            <ion-spinner *ngIf="isSubmitting" name="crescent" class="btn-spinner"></ion-spinner>
            <span *ngIf="!isSubmitting">Submit</span>
            <span *ngIf="isSubmitting">Submitting...</span>
          </span>
        </span>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
