<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="2" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="8">
        <ion-title>ABOUT</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12"  class="p5">
      <h4>LET'S HELP</h4>
      <p>Together, for nobel cause</p>
      <div> Hope and Service are the two factors on which <strong> Let's Help </strong></div>
      <div> Its main intention is to bring all the kind and intellectual hearts to one place for the wellbeing of the society </div>
      <div> The registration of this website domain, hosting and design has done long back in 2010, lots of challenges delayed this Service. </div>
      <div><strong>Blood donation</strong>, is a divine act which has no alternative, expect donations. Even this has become an act
      of Business with the mediators. Through.<strong>Let's Help, </strong> there will be no mediator, no money involved.  </div>
      <div> We all together can completely abolish deaths due to lack of blood.</div>
      <div> There are numerous sufferers for various reasons.<strong> Corruption, Caste, Region, Poor, Rich, Politics, Legal System, Naxalism, Terrorism, Policing, Patriotism, Democracy, Reservation, Parliament, Tax, Media, etc. </strong> these keep on coming. </div>
      <div> Lot of things which always needs an attention, a modification, a change, or a replacement but how can this happen? </div>
      <h4>Let's Help </h4>
      <div> -Against the social injustice, inequality, religious mis-concepts, against the Social evil termites eating away our country’s progress </div>
      <div> -Towards creating a helping hand, a supportive system and finally towards a positive change </div>
      <div class="learn">
        <!--RambabuP-->
        <button routerLink="/aboutus" class="more">Learn more</button>
        <!--==============-->
      </div>
    </ion-col>
  </ion-row>
</ion-content>
