h4,p{
  text-align:center
}
div{
  padding:10px
}
button{
  background-color:red;
  color:white;
  padding:10px;
}
.learn {
  align-items: center;
  display: flex;
  justify-content: center;
}

//RambabuP
.more{
  font-size:14px;
}
//================
