ion-item h6 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

ion-item p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}
h3 {
  text-align: center;
  color: red;
  margin: 1%;
}
button {
  padding: 10px;
  border-radius: 20px;
  width: 88%;
  margin: 5%;
  background-color: red;
  color: white;
}
.round {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  color: white;
  font-size: 27px;
  padding: 10px;
  margin: 11%;
}
