.card {
  padding: 8px;
  color: black;
  background-color: #d3d3d370;
  width: 92%;
  margin: 5% 0% 2% 5%;
}
.regright {
  text-align: right;
  //font-size: large !important;
  font-weight: bold;
}
ion-footer button {
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
  /*width: 90%;
  margin: 5%*/
}
.formvalidators {
  padding-left: 5%;
  margin-top: 2%;
  color: red;
}
.button1{
    font:600 14px poppins; 
}
