<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="back()" class="header-back-icon"></ion-icon>
    </ion-buttons>
    <ion-title class="main-title">LET'S HELP VIDEO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-page-content">
    <div class="logo-wrap">
      <img src="../../../assets/Images/bg_logo.png" alt="Let's Help Logo" class="brand-logo" />
    </div>

    <div class="video-container">
      <iframe [src]="videoUrl"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>
    </div>
  </div>
</ion-content>

<ion-footer class="share-footer">
  <div class="footer_content">
    <div class="footer_card" (click)="shareVideo()" role="button">
      <div class="footer_card_inner">
        <ion-icon name="share-social" class="share-btn-icon"></ion-icon>
        <span class="footer_label">Click to Share</span>
      </div>
    </div>
  </div>
</ion-footer>
