<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" routerLink="/stickbrouchers"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="8">
        <ion-title>LET'S HELP VIDEO</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="item_center" style="margin:5%">
        <img src="../../../assets/Images/bg_logo.png" style="    width: 70%;" />
      </div>
      <div class="item_center">
        <iframe width="100%" height="180px" style="border-radius: 5px;
    border: 2px solid red;" src="https://www.youtube.com/embed/5KWKvYI0U9o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>


    </ion-col>
  </ion-row>
</ion-content>
<!--<ion-footer style="background: #f0f0f0;box-shadow:none;border:none;padding:0">
  <ion-row>
    <ion-col size="2.5">
      <div class="border"  routerLink="/home">
        <ion-icon name="home-outline" class="tabs_icon" ></ion-icon>
        <div class="tabs_title">Home</div>
      </div>

    </ion-col>
    <ion-col size="2.5">
      <div class="border" routerLink="/needblood">
        <ion-icon name="person-outline" class="tabs_icon"></ion-icon>
        <div class="tabs_title">Blood</div>
      </div>

    </ion-col>
    <ion-col size="2.5">
      <div class="border" routerLink="/joincampaign">
        <ion-icon name="hand-right-outline" class="tabs_icon"></ion-icon>
        <div class="tabs_title">Campaign</div>
      </div>
    </ion-col>
    <ion-col size="2.5" routerLink="/donatenow">
      <div class="border">
        <ion-icon name="egg-outline" class="tabs_icon"></ion-icon>
        <div class="tabs_title">Donate</div>
      </div>

    </ion-col>
    <ion-col size="2" routerLink="/letshlpgallerry">
      <div class="border" style="    margin-left: 0.1rem;">
        <ion-icon name="people-outline" class="tabs_icon"></ion-icon>
        <div class="tabs_title">Gallery</div>
      </div>

    </ion-col>
  </ion-row>
</ion-footer>-->


<div class="footer_content" style="background-color: #ffffff;">
  <ion-row class="row_footer">

    <ion-col size="12">
      <div class="footer_card" routerLink="/donorguide">
        <ion-row>
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client images/All Icons/Click to share.png" />
          </ion-col>
          <ion-col size="10" class="footer_label_col">
            <ion-label class="footer_label" style="font-weight:bold">Click to Share</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>

  </ion-row>
</div>







<!--<ion-footer>
  <button expand="full" class="red-button" ripple>Click to Share</button>
</ion-footer>-->
