<ion-content>
  <ion-row class="rows row-spacing" *ngIf="DonorFlag == 1">
    <br />
    <br /><br />
  </ion-row>
  <ion-row class="rows row-spacing" *ngIf="DonorFlag != 1">
    <ion-col size="6"><p class="header_left" routerLink="/login">LOGIN</p></ion-col>
    <ion-col size="6"><p class="header_right">SIGNUP</p></ion-col>

  </ion-row>
  <ion-row class="row-spacing" *ngIf="DonorFlag != 1">
    <ion-col size="12">
      <div class="items_center">
        <img src="../../../assets/Images/bg_logo.png" />
      </div>
      <div class="items_center">
        <h4 style="color:gray" *ngIf="OTPFlag != 1 && OTPVerified != 1">Create Account</h4>
        <h4 style="color:gray" *ngIf="OTPFlag == 1 && OTPVerified != 1">Fill in the details</h4>
        <h4 style="color:gray" *ngIf="OTPVerified == 1">Fill in the details</h4>
      </div><br />
      <div *ngIf="OTPFlag != 1 && OTPVerified != 1">
        <div class="items_center">
          <ion-icon name="call-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Mobile" [(ngModel)]="Mobile" class="input_field" [maxlength]="10" pattern="[0-9]{10}" />
        </div>
        <div class="items_center">
          <ion-icon name="lock-open-outline" class="input_icon"></ion-icon>
          <input type="text" inputmode="numeric" autocomplete="one-time-code" name="otp" id="otp" placeholder="Enter OTP" [(ngModel)]="MobileOTP" class="input_field" />
        </div>
      </div>
      <div *ngIf="OTPFlag == 1 && OTPVerified != 1">
        <div class="items_center">
          <ion-icon name="call-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Mobile" [(ngModel)]="Mobile" class="input_field" [maxlength]="10" pattern="[0-9]{10}" />
        </div>
        <div class="items_center">
          <ion-icon name="lock-open-outline" class="input_icon"></ion-icon>
          <input type="text" inputmode="numeric" autocomplete="one-time-code" name="otp" id="otp" placeholder="Enter OTP" [(ngModel)]="MobileOTP" class="input_field" />
        </div>
        <div class="items_center" style="margin-top: 5px;">
          <span *ngIf="!canResend" style="color: gray; font-size: 14px;">Resend OTP in {{ resendTimer }}s</span>
          <span *ngIf="canResend" style="color: red; cursor: pointer; text-decoration: underline; font-size: 14px;" (click)="SendOTPToMobile()">Resend OTP</span>
        </div>
      </div>
      <div *ngIf="OTPVerified == 1">
        <div class="items_center">
          <ion-icon name="person-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter First Name" [(ngModel)]="FirstName" (ngModelChange)="onFirstNameChange($event)" (keypress)="preventInvalidChars($event)" (paste)="onPasteSanitize($event)" [minlength]="3" class="input_field" />
        </div>
        <div *ngIf="firstNameError" style="color: red; font-size: 12px; padding-left: 45px; margin-top: 5px; margin-bottom: 5px;">
          {{ firstNameError }}
        </div>
        <div class="items_center">
          <ion-icon name="person-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Middle Name" [(ngModel)]="MiddleName" class="input_field" />
        </div>
        <div class="items_center">
          <ion-icon name="person-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Surname" [(ngModel)]="SurName" class="input_field" />
        </div>
        <div class="items_center">
          <ion-icon name="pencil-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Invite Code (optional)" [(ngModel)]="InviteCode" class="input_field" />
        </div>
        <div class="items_center">
          <ion-icon name="mail-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Email Id" [(ngModel)]="Email" (ngModelChange)="onEmailChange($event)" class="input_field" />
        </div>
        <div *ngIf="emailError" style="color: red; font-size: 12px; padding-left: 45px; margin-top: 5px; margin-bottom: 5px;">
          {{ emailError }}
        </div>
        <div class="items_center1" >
          <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="Password" placeholder="Enter Password" class="input_field passwordd" />
          <ion-icon slot="end"  name="{{ showPassword ? 'eye' : 'eye-off' }}" (click)="togglePassword()" class="input_icon1"></ion-icon>

          <!--<ion-icon name="eye-outline" class="input_icon"></ion-icon>
    <input type="text" placeholder="Enter Your password" [(ngModel)]="Password" class="input_field" />-->
        </div>
       
        <div class="items_center1" >
          <input type="{{ reshowPassword ? 'text' : 'password' }}" [(ngModel)]="ConformPassword" [ngModelOptions]="{standalone: true}" placeholder="Confirm password" class="input_field passwordd" />
          <ion-icon slot="end"  name="{{ reshowPassword ? 'eye' : 'eye-off' }}" (click)="retogglePassword()" class="input_icon1"></ion-icon>
          <!--<ion-icon name="eye-outline" class="input_icon"></ion-icon>
    <input type="text" placeholder="Enter Your confirm password" [(ngModel)]="ConformPassword" class="input_field" />-->
        </div>
        <!--<ion-row style="padding-left:5%;margin-left: 15px;">
    <ion-col size="1"><input type="checkbox" [(ngModel)]="TandC" [class.readonly]="TandC" /></ion-col>
    <ion-col size="11"><div routerLink="/termsofusedisclaimer">Accept <a style="text-decoration:underline">terms of service</a></div></ion-col>
    <ion-col size="1"><input type="checkbox" [(ngModel)]="Policy" [class.readonly]="Policy" /></ion-col>
    <ion-col size="11"><div routerLink="/privacypolicy">Accept <a style="text-decoration:underline">confidentiality policy</a></div></ion-col>
  </ion-row>-->

        <ion-row style="margin-left:37px">
          <ion-col size="1"><input type="checkbox" [(ngModel)]="TandC" [class.readonly]="TandC" /></ion-col>
          <ion-col size="11"><div (click)="tac()">Accept <a style="text-decoration:underline">terms of service</a></div></ion-col>
          <ion-col size="1"><input type="checkbox" [(ngModel)]="Policy" [class.readonly]="Policy" /></ion-col>
          <ion-col size="11"><div (click)="policy()">Accept <a style="text-decoration:underline">confidentiality policy</a></div></ion-col>
        </ion-row>
      </div>

    </ion-col>

  </ion-row>
  <ion-row class="row-spacing" *ngIf="DonorFlag == 1">
    <ion-col size="12">
      <div class="items_center">
        <img src="../../../assets/Images/bg_logo.png" />
      </div>
      <div class="items_center">
        <h4 style="color:gray" *ngIf="OTPFlag != 1 && OTPVerified != 1">Add Donor</h4>
      </div><br />
      <div *ngIf="OTPFlag != 1 && OTPVerified != 1">
        <div class="items_center">
          <ion-icon name="call-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Mobile" [(ngModel)]="Mobile" class="input_field" [maxlength]="10" pattern="[0-9]{10}" />
        </div>
        <div class="items_center">
          <ion-icon name="lock-open-outline" class="input_icon"></ion-icon>
          <input type="text" inputmode="numeric" autocomplete="one-time-code" name="otp" id="otp" placeholder="Enter OTP" [(ngModel)]="MobileOTP" class="input_field" />
        </div>
      </div>
      <div *ngIf="OTPFlag == 1 && OTPVerified != 1">
        <div class="items_center">
          <ion-icon name="call-outline" class="input_icon"></ion-icon>
          <input type="text" placeholder="Enter Mobile" [(ngModel)]="Mobile" class="input_field" [maxlength]="10" pattern="[0-9]{10}" />
        </div>
        <div class="items_center">
          <ion-icon name="lock-open-outline" class="input_icon"></ion-icon>
          <input type="text" inputmode="numeric" autocomplete="one-time-code" name="otp" id="otp" placeholder="Enter OTP" [(ngModel)]="MobileOTP" class="input_field" />
        </div>
        <div class="items_center" style="margin-top: 5px;">
          <span *ngIf="!canResend" style="color: gray; font-size: 14px;">Resend OTP in {{ resendTimer }}s</span>
          <span *ngIf="canResend" style="color: red; cursor: pointer; text-decoration: underline; font-size: 14px;" (click)="SendOTPToMobile()">Resend OTP</span>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="row-spacing" *ngIf="DonorFlag != 1">
  </ion-row>
</ion-content>
<ion-footer *ngIf="OTPVerified == 1">
  <button type="submit" [disabled]="isSubmitting" (click)="NextDetails()">Next</button>
</ion-footer>
<ion-footer *ngIf="OTPFlag == 1 && OTPVerified != 1">
  <button type="submit" [disabled]="isSubmitting" (click)="CheckOTP()">Verify OTP</button>
</ion-footer>
<ion-footer *ngIf="OTPFlag != 1 && OTPVerified != 1">
  <button type="submit" [disabled]="isSubmitting" (click)="VerifyMobileEmail()">Send OTP</button>
</ion-footer>

