<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #f1f2f6;">
    <ion-row>
      <ion-col size="2" routerLink="/dashboard"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="8">
        <ion-title> {{name}}</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- No Records Found for values == 1 -->
  <div *ngIf="values == 1 && (!mydonors || mydonors.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values ==1 && mydonors && mydonors.length > 0" #accordionGroup1 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style=" padding: 13px;
    margin-top: 17px;">
    <ion-accordion *ngFor="let obj of mydonors; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="4">
            <ion-label>{{obj.FullName}}</ion-label>
          </ion-col>
          <ion-col size="3">
          </ion-col>
          <ion-col size="4">
            <ion-label>{{obj.CreatedDate | date:'dd-MM-yyyy'}}</ion-label>
          </ion-col>
          <ion-col size="1" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div slot="content" class="content">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col siz="11">
            <ion-row>
              <ion-col size="6">Email</ion-col>
              <ion-col size="6">{{obj.Email}}</ion-col>
              <ion-col size="6">Age</ion-col>
              <ion-col size="6">{{obj.Age}}</ion-col>
              <ion-col size="6">Gender</ion-col>
              <ion-col size="6">{{obj.Gender}}</ion-col>
              <ion-col size="6">Phone</ion-col>
              <ion-col size="6">{{obj.Phonenumber}}</ion-col>
              <ion-col size="6">Area</ion-col>
              <ion-col size="6">{{obj.Area}}</ion-col>
              <ion-col size="6" *ngIf="obj.newStatename">State</ion-col>
              <ion-col size="6" *ngIf="obj.newStatename">{{obj.newStatename}}</ion-col>
              <ion-col size="6" *ngIf="obj.newDistrictname">District</ion-col>
              <ion-col size="6" *ngIf="obj.newDistrictname">{{obj.newDistrictname}}</ion-col>
              <ion-col size="6" *ngIf="obj.newCityname">City</ion-col>
              <ion-col size="6" *ngIf="obj.newCityname">{{obj.newCityname}}</ion-col>
              <ion-col size="6" *ngIf="obj.Pincode">Pincode</ion-col>
              <ion-col size="6" *ngIf="obj.Pincode">{{obj.Pincode}}</ion-col>
              <ion-col size="6" *ngIf="obj.HospitalAddress">Address</ion-col>
              <ion-col size="6" *ngIf="obj.HospitalAddress">{{obj.HospitalAddress}}</ion-col>
              <ion-col size="6" *ngIf="obj.UserAddress">Address</ion-col>
              <ion-col size="6" *ngIf="obj.UserAddress">{{obj.UserAddress}}</ion-col>

            </ion-row>

          </ion-col>

          <!-- Close button to hide content and show the header again -->
          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- No Records Found for values == 2 -->
  <div *ngIf="values == 2 && (!donorslist || donorslist.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values == 2 && donorslist && donorslist.length > 0" #accordionGroup2 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style=" padding: 13px;
    margin-top: 17px;">
    <ion-accordion *ngFor="let obj of donorslist; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="4">
            <ion-label>{{obj.FullName}}</ion-label>
          </ion-col>
          <ion-col size="3">
          </ion-col>
          <ion-col size="4">
            <ion-label>{{obj.CreatedDate | date:'dd-MM-yyyy'}}</ion-label>
          </ion-col>
          <ion-col size="1" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div slot="content" class="content">
        <ion-row>

          <ion-col size="1"></ion-col>
          <ion-col siz="11">
            <ion-row>
              <!--<ion-col size="6">Email</ion-col>
              <ion-col size="6">{{obj.Email}}</ion-col>-->
              <ion-col size="6">Age</ion-col>
              <ion-col size="6">{{obj.Age}}</ion-col>
              <ion-col size="6">Gender</ion-col>
              <ion-col size="6">{{obj.Gender}}</ion-col>
              <ion-col size="6">Phone</ion-col>
              <ion-col size="6">{{obj.Phonenumber}}</ion-col>
              <ion-col size="6">Typesofblood</ion-col>
              <ion-col size="6">{{obj.Typesofblood}}</ion-col>
              <ion-col size="6">Purpose</ion-col>
              <ion-col size="6">{{obj.Purpose}}</ion-col>
              <ion-col size="6" *ngIf="obj.HospitalName">Hospital Name</ion-col>
              <ion-col size="6" *ngIf="obj.HospitalName">{{obj.HospitalName}}</ion-col>
              <ion-col size="6" *ngIf="obj.newStatename">State</ion-col>
              <ion-col size="6" *ngIf="obj.newStatename">{{obj.newStatename}}</ion-col>
              <ion-col size="6" *ngIf="obj.newDistrictname">District</ion-col>
              <ion-col size="6" *ngIf="obj.newDistrictname">{{obj.newDistrictname}}</ion-col>
              <ion-col size="6" *ngIf="obj.newCityname">City</ion-col>
              <ion-col size="6" *ngIf="obj.newCityname">{{obj.newCityname}}</ion-col>
              <ion-col size="6" *ngIf="obj.Pincode">Pincode</ion-col>
              <ion-col size="6" *ngIf="obj.Pincode">{{obj.Pincode}}</ion-col>
              <ion-col size="6" *ngIf="obj.HospitalAddress">Address</ion-col>
              <ion-col size="6" *ngIf="obj.HospitalAddress">{{obj.HospitalAddress}}</ion-col>
              <ion-col size="6" *ngIf="obj.UserAddress">Address</ion-col>
              <ion-col size="6" *ngIf="obj.UserAddress">{{obj.UserAddress}}</ion-col>
            </ion-row>
          </ion-col>


          <!-- Close button to hide content and show the header again -->
          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- No Records Found for values == 3 -->
  <div *ngIf="values == 3 && (!presntationlist2 || presntationlist2.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values==3 && presntationlist2 && presntationlist2.length > 0" #accordionGroup3 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style="padding: 13px; margin-top: 17px;">
    <ion-accordion *ngFor="let obj of presntationlist2; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="5">
            <p>{{obj.Contact_name}}</p>
          </ion-col>
          <ion-col size="4">
            <p>Mode: {{obj.Mode}}</p>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div slot="content" class="content">
        <ion-row>
          <ion-col size="1"></ion-col>

          <ion-col size="11">
            <ion-row>
              <ion-col size="6">Venue</ion-col>
              <ion-col size="6">{{obj.Venue_name}}</ion-col>
              <ion-col size="6">Address</ion-col>
              <ion-col size="6">{{obj.Address}} </ion-col>
              <ion-col size="6">Venue</ion-col>
              <ion-col size="6">{{obj.Venue}}</ion-col>
              <ion-col size="6">Audiance</ion-col>
              <ion-col size="6">{{obj.Audiance}}</ion-col>
              <ion-col size="6">Mode</ion-col>
              <ion-col size="6">{{obj.Mode}}</ion-col>
              <ion-col size="6">Created Date</ion-col>
              <ion-col size="6">{{obj.CreatedDate | date:'dd-MM-yyyy hh:mm a'}}</ion-col>
              <ion-col size="6">Presentation Date</ion-col>
              <ion-col size="6">{{obj.RequestDate | date:'dd-MM-yyyy hh:mm a'}}</ion-col>
              <ion-col size="6">Contact person</ion-col>
              <ion-col size="6">{{obj.Contact_name}}</ion-col>
              <ion-col size="6">Contact number</ion-col>
              <ion-col size="6">{{obj.Contact_number}}</ion-col>
              <ion-col size="6">Message</ion-col>
              <ion-col size="6">{{obj.Message}}</ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- No Records Found for values == 6 -->
  <div *ngIf="values == 6 && (!acceptlist || acceptlist.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values == 6 && acceptlist && acceptlist.length > 0" #accordionGroup6 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style="padding: 13px; margin-top: 17px;">
    <ion-accordion *ngFor="let obj of acceptlist; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="5">
            <p>{{ obj.BloodRequestDate  | date:'dd-MM-yyyy'}}</p>
          </ion-col>
          <ion-col size="5">
            <p>{{ obj.FullName }}</p>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <div slot="content" class="content">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="11">
            <ion-row>

              <ion-col size="6">Full Name</ion-col>
              <ion-col size="6">{{ obj.FullName }}</ion-col>

              <ion-col size="6">Purpose</ion-col>
              <ion-col size="6">{{ obj.Purpose }}</ion-col>

              <ion-col size="6">Request Date</ion-col>
              <ion-col size="6">{{obj.BloodRequestDate | date:'dd-MM-yyyy'}} {{ obj.RequestTime }}</ion-col>

              <ion-col size="6">Contact Person</ion-col>
              <ion-col size="6">{{ obj.ContactPerson }}</ion-col>

              <ion-col size="6">Contact Mobile</ion-col>
              <ion-col size="6">{{ obj.ContactMobile }}</ion-col>

              <ion-col size="6">Types of Blood</ion-col>
              <ion-col size="6">{{ obj.Typesofblood }}</ion-col>

              <ion-col size="6">BLGName</ion-col>
              <ion-col size="6">{{ obj.BLGName }}</ion-col>

              <ion-col size="6">UnitsofBlood</ion-col>
              <ion-col size="6">{{ obj.UnitsofBlood }}</ion-col>
              <ion-col size="6">Hospital Name</ion-col>
              <ion-col size="6">{{ obj.HospitalName }}</ion-col>
              <ion-col size="6">Hospital Address</ion-col>
              <ion-col size="6">{{ obj.HospitalAddress }}</ion-col>
            </ion-row>
          </ion-col>

          <!-- Close button area -->
          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- No Records Found for values == 7 -->
  <div *ngIf="values == 7 && (!leadrefslist || leadrefslist.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values == 7 && leadrefslist && leadrefslist.length > 0" #accordionGroup7 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style="padding: 13px; margin-top: 17px;">
    <ion-accordion *ngFor="let obj of leadrefslist; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="5">
            <p>{{ obj.CreatedDate | date:'dd-MM-yyyy' }}</p>
          </ion-col>
          <ion-col size="5">
            <p>{{ obj.FullName }}</p>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <div slot="content" class="content">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="11">
            <ion-row>
              <ion-col size="6">Name</ion-col>
              <ion-col size="6">{{ obj.FullName }}</ion-col>

              <ion-col size="6">Phonenumber</ion-col>
              <ion-col size="6">{{ obj.Phonenumber }}</ion-col>

              <ion-col size="6">Email</ion-col>
              <ion-col size="6">{{ obj.Email }}</ion-col>

              <ion-col size="6">Age</ion-col>
              <ion-col size="6">{{ obj.Age }} Years</ion-col>

              <ion-col size="6">Created Date</ion-col>
              <ion-col size="6">{{ obj.CreatedDate | date:'dd-MM-yyyy hh:mm a'}}</ion-col>

              <ion-col size="6">Gender</ion-col>
              <ion-col size="6">{{ obj.Gender }}</ion-col>

            </ion-row>
          </ion-col>

          <!-- Close button area -->
          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- No Records Found for values == 4 -->
  <div *ngIf="values == 4 && (!donorreflist || donorreflist.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values == 4 && donorreflist && donorreflist.length > 0" #accordionGroup4 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style="padding: 13px; margin-top: 17px;">
    <ion-accordion *ngFor="let obj of donorreflist; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="5">
            <p>{{ obj.CreatedDate | date:'dd-MM-yyyy' }}</p>
          </ion-col>
          <ion-col size="5">
            <p>{{ obj.FullName }}</p>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <div slot="content" class="content">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="11">
            <ion-row>
              <ion-col size="6">Name</ion-col>
              <ion-col size="6">{{ obj.FullName }}</ion-col>

              <ion-col size="6">Phonenumber</ion-col>
              <ion-col size="6">{{ obj.Phonenumber }}</ion-col>

              <ion-col size="6">Email</ion-col>
              <ion-col size="6">{{ obj.Email }}</ion-col>

              <ion-col size="6">Age</ion-col>
              <ion-col size="6">{{ obj.Age }} Years</ion-col>

              <ion-col size="6">Created Date</ion-col>
              <ion-col size="6">{{ obj.CreatedDate | date:'dd-MM-yyyy hh:mm a' }}</ion-col>

              <ion-col size="6">Gender</ion-col>
              <ion-col size="6">{{ obj.Gender }}</ion-col>

            </ion-row>
          </ion-col>

          <!-- Close button area -->
          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- No Records Found for values == 5 -->
  <div *ngIf="values == 5 && (!boucherlist || boucherlist.length === 0)">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <div class="card">
            <h4>No Records Found</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-accordion-group *ngIf="values == 5 && boucherlist && boucherlist.length > 0" #accordionGroup5 [multiple]="false" [value]="activeAccordion !== null ? activeAccordion.toString() : null" (ionChange)="onAccordionChange($event)" style="padding: 13px; margin-top: 17px;">
    <ion-accordion *ngFor="let obj of boucherlist; let i = index" [value]="i.toString()">
      <div slot="header" color="light" class="accordionheader" [style.display]="activeAccordion === i ? 'none' : ''">
        <ion-row>
          <ion-col size="5">
            <p>{{ obj.FullName }}</p>
          </ion-col>
          <ion-col size="5">
            <p>{{ obj.Location }}</p>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <ion-icon [name]="activeAccordion === i ? 'chevron-up-outline' : 'chevron-down-outline'" class="accordion-toggle-icon">
            </ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <div slot="content" class="content">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="11">
            <ion-row>
              <ion-col size="6">FullName</ion-col>
              <ion-col size="6">{{ obj.FullName }}</ion-col>

              <ion-col size="6">Location</ion-col>
              <ion-col size="6">{{ obj.Location }}</ion-col>

              <ion-col size="6">Place</ion-col>
              <ion-col size="6">{{ obj.Place }}</ion-col>

              <ion-col size="6">Pincode</ion-col>
              <ion-col size="6">{{ obj.Pincode }}</ion-col>
           
            </ion-row>
          </ion-col>

          <!-- Close button area -->
          <ion-col size="12" (click)="closeAccordion()">
            <div class="triangle-up f-end"></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>


