
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" routerLink="/joincampaign"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="8">
        <ion-title>SPREAD THE CAUSE</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="1"> </ion-col>
    <ion-col size="10">

      <img src="../../../assets/Images/stickbrochuree.PNG" class="imgg" />
      <!--<div class="center">
        <div class="card">
          <div class="card_img">
            <img src="../../../assets/Images/spared.png" />
          </div>

        </div>
      </div>-->
    </ion-col>
    <ion-col size="1"> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" routerLink="/downloadbrochers">
      <div class="card1">
        <ion-card-content class="card-content">
          <!--<ion-icon name="people-outline" class="card_icon1"></ion-icon>-->
          <img src="../../../assets/client shared icons/Share Brochur or Stick Banner.png" class="card_icon1" />
          <div class="item-content">
            <ion-label class="highlight" style="font-size: 13px !important;">Share Brochure / Download Banner</ion-label>
            <p style="font-size: 12px !important;">Help family, friends, or non-readers</p>
            <!--<p>Family, friends or help the one who cant read</p>-->
          </div>
        </ion-card-content>
      </div>
    </ion-col>
    <ion-col size="12" routerLink="/sharevideo">
      <div class="card1">
        <ion-card-content class="card-content">
          <!--<img src="../../../assets/Images/qr-code.png" class="card_icon1 card_icon2" />-->
          <img src="../../../assets/client shared icons/Share Lets help Video.png" class="card_icon1" />
          <div class="item-content">
            <ion-label class="highlight" style="font-size: 13px !important;">Share Let's help Video </ion-label>
            <p style="font-size: 12px !important;">Regularly visit, or online posts</p>
          </div>
        </ion-card-content>
      </div>
    </ion-col>


  </ion-row>
</ion-content>
<div class="footer_content" style="background-color: #ffffff;">
  <ion-row class="row_footer">
     
    <ion-col size="12">
      <div class="footer_card" routerLink="/donorguide">
        <ion-row>
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client images/All Icons/Guide.png" />
          </ion-col>
          <ion-col size="10" class="footer_label_col">
            <ion-label class="footer_label" style="font-weight:bold">Guide</ion-label>
            <p>Understand what a user can do</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    
  </ion-row>
</div>
