<!-- You might need to import ion-header, ion-toolbar, ion-buttons, ion-button, ion-icon, ion-title, ion-content, ion-searchbar, ion-list, and ion-item components. -->

<!--<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close-circle" style="color:rgb(60, 117, 184);"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="color:rgb(60, 117, 184);">
    Search by Location
  </ion-title>
</ion-toolbar>


<ion-content class="ion-padding">
  <ion-searchbar style="padding: 2% 0%;" search-icon="pin" class="animated fadeInDown" [(ngModel)]="autocomplete.input" debounce="500" (ionInput)="updateSearchResults($event)" placeholder="Search Location"></ion-searchbar>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item style="font-size:12px" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      <ion-icon name="pin" slot="start" style="color: #ababab;margin: 6px;"></ion-icon>
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-content>-->


