<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="8">
        <ion-title size="large"> SHARE YOUR SERVICES</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br />
  <form [formGroup]="shareForm">

    <ion-row>
      <ion-col size="12">
        <div id="open-modal1" class="item_center" *ngIf="!Catname">


          <ion-icon name="call-outline" class="input_icon"></ion-icon>
          <ion-input type="text" placeholder="Donor Category" class="input_field" style="text-align:center"></ion-input>

        </div>

        <div id="open-modal1" class="item_center" *ngIf="Catname">
          <div class="input-container">
            <ion-icon name="call-outline" class="input_icon"></ion-icon>
            <input type="text" [value]="Catname" placeholder="Donor Category" class="input_field" style="text-align:center">
          </div>
        </div>


        <ion-modal #modal trigger="open-modal1" [initialBreakpoint]="0.45" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button class="button1">Close</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="button1" (click)="modal.dismiss()">Okay</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-searchbar placeholder="Search State" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
            <ion-list>
              <ion-item class="centered-text" style="text-align:center" *ngFor="let item of gallerydata">
                <div (click)="selectcat(item)"> {{item.categoryname}}</div>
              </ion-item>
              <!--<ion-item class="centered-text"><div>Old Age Services</div></ion-item>
        <ion-item class="centered-text"><div>Orphan Services</div></ion-item>
        <ion-item class="centered-text"><div>Campaign </div></ion-item>-->
            </ion-list>
          </ng-template>
        </ion-modal>


        <div id="open-modal6" class="item_center">
          <!--<ion-icon name="image-outline"class="input_icon"></ion-icon>-->
          <img *ngIf="!selectedImage " />

          <div class="border" (click)="selectImage()">Upload Picture</div>
          <img src="{{HomeUrl+selectedImage}}" *ngIf="selectedImage" />
        </div>

        <ion-modal #modal trigger="open-modal60" [initialBreakpoint]="0.45" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button class="button1">Close</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="button1" (click)="modal.dismiss()">Okay</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <div *ngIf="selectedImage!=undefined" style="background-color: #ffffff;text-align: center;">
                    <img src="{{HomeUrl+selectedImage}}"
                         style="width: 20rem;border-radius: 10px;margin-top: 2rem;" />
                  </div>
                  <!--<input type="file" accept="image/*" (change)="onFileSelected($event)" style="margin-top: 20px;border:none" /><br />-->
                </ion-col>
                <ion-col size="12">
                  <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" style="width: 100px; height: 100px; margin-top: 10px;" />
                </ion-col>
              </ion-row>
            </ion-item>
          </ng-template>
        </ion-modal>

        <div id="open-modal5" class="item_center">
          <ion-icon name="calendar-outline" class="input_icon"></ion-icon>
          <input type="text"
                 placeholder="Date of service"
                 [value]="formattedSelectedDate"
                 readonly
                 (click)="openDatePicker()" style="text-align:center">
        </div>

        <ion-modal #modal trigger="open-modal5" [initialBreakpoint]="0.45" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button class="button1" (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="button1" (click)="updateDate()">Okay</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="11">
                <div style="font-size:16px;font-weight:400">Date of service</div>
              </ion-col>
            </ion-row>
            <div>
              <ion-datetime #datetime presentation="date" (ionChange)="onDateChange($event)" [preferWheel]="true"></ion-datetime>

              <!--<ion-datetime #datetime
                            presentation="date"
                            (ionChange)="onDateChange($event)"
                            [value]="selectedDate">
              </ion-datetime>-->
            </div>
          </ng-template>
        </ion-modal>

        <ion-item id="open-modal2">
          <ion-input label="State" placeholder=""></ion-input>
          <ion-icon name="add-circle-outline" slot="end" style="color:red" *ngIf="selectedState == null || selectedState =='' "></ion-icon>
          <ion-input  [value]="selectedState" class="regright" *ngIf="selectedState != null  || selectedState !='' "></ion-input>
        </ion-item>
        <ion-modal #modal trigger="open-modal2" [initialBreakpoint]="0.75" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar style="--border-radius: 38px!important;">
                <ion-buttons slot="start">
                  <ion-button class="button1" (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="button1" (click)="reg()">Okay</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-searchbar placeholder="Search State" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" (ionInput)="SearchStates()"></ion-searchbar>
            <ion-list>
              <ion-item class="centered-text" style="text-align:center" *ngFor="let obj of States">
                <div (click)="selectState(obj)">{{obj.StateName}}</div>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-modal>

        <ion-item id="open-modal3">
          <ion-input label="District" placeholder=""></ion-input>
          <ion-icon name="add-circle-outline" slot="end" style="color:red" *ngIf="selectedDistrict == null || selectedDistrict =='' "></ion-icon>
          <ion-input  [value]="selectedDistrict" class="regright" *ngIf="selectedDistrict != null  || selectedDistrict !='' "></ion-input>
        </ion-item>
        <ion-modal #modal2 trigger="open-modal3" [initialBreakpoint]="0.75" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button class="button1" (click)="modal2.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="button1" (click)="reg()">Okay</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-searchbar placeholder="Search District" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue" (ionInput)="SearchDistricts()"></ion-searchbar>
            <ion-list>
              <ion-item class="centered-text" *ngFor="let obj of Districts">
                <div (click)="selectDistrict(obj)">{{obj.DistrictName}}</div>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-modal>

        <ion-item id="open-modal4">
          <ion-input label="City" placeholder=""></ion-input>
          <ion-icon name="add-circle-outline" slot="end" style="color:red" *ngIf="selectedCity == null || selectedCity =='' "></ion-icon>
          <ion-input  [value]="selectedCity"  class="regright" *ngIf="selectedCity != null  || selectedCity !='' "></ion-input>
        </ion-item>
        <ion-modal #modal3 trigger="open-modal4" [initialBreakpoint]="0.75" [breakpoints]="[0, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button class="button1" (click)="modal3.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="button1" (click)="reg()">Okay</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-searchbar placeholder="Search City" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue" (ionInput)="SearchCities()"></ion-searchbar>
            <ion-list>
              <ion-item class="centered-text" *ngFor="let obj of Cities">
                <div (click)="selectCity(obj)">{{obj.CityName}}</div>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-modal>

        <div class="item_center">
          <ion-icon name="language-outline" class="input_icon"></ion-icon>
          <input type="text" formControlName="institutionname" placeholder="Name of institution/Hospital" class="input_field">
        </div>

        <div class="item_center">
          <ion-icon name="chatbox-ellipses-outline" class="input_icon"></ion-icon>
          <input type="text" formControlName="message" placeholder="Message" style="height:100px;border-radius:5px" class="input_field">
        </div>

      </ion-col>

    </ion-row>

    </form>
</ion-content>
<ion-footer >
  <button expand="full" class="red-button"  (click)="insert(shareForm.value)">Submit</button>
</ion-footer>
