<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="2" routerLink="/home"><!--<ion-icon name="chevron-back-outline"></ion-icon>--></ion-col>
      <ion-col size="8">
        <ion-title>JOIN CAMPAIGN</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="center-circle-section">
      <div class="card">
        <div class="card_img">
          <img src="../../../assets/Images/hand.png" />
        </div>
      </div>
    </div>

    <div class="action-cards-section">
      <div class="cards" *ngIf="UserDetails && UserDetails[0]?.Rolestatus == false" routerLink="/leaderguide">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client images/All Icons/Join as a Leader.png" class="icon_imgs" />
          </ion-col>
          <ion-col size="10">
            <ion-label class="head1 Arial font29" style="font-size: 13.5px !important;">Join as a leader</ion-label>
            <p class="Arial font24 gray" style="margin-top:4px; font-size: 11px !important;">
              Lead the Way: Inspire and
              Drive
            </p>
          </ion-col>
        </ion-row>
      </div>

      <div class="cards" *ngIf="UserDetails && UserDetails[0]?.Rolestatus == true" routerLink="/leaders">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client images/All Icons/Join as a Leader.png" class="icon_imgs" />
          </ion-col>
          <ion-col size="10">
            <ion-label class="head1 Arial font29" style="font-size: 13.5px !important;">Leaders Page</ion-label>
            <p class="Arial font24 gray" style="margin-top:4px; font-size: 11px !important;">
              Leader from front and
              protect your area
            </p>
          </ion-col>
        </ion-row>
      </div>

      <div class="cards" routerLink="/stickbrouchers">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client images/All Icons/Spread the cause.png" class="icon_imgs" />
          </ion-col>
          <ion-col size="10">
            <ion-label class="head1 Arial font29" style="font-size: 13.5px !important;">Spread the Cause</ion-label>
            <p class="Arial font24 gray" style="margin-top:4px; font-size: 11px !important;">
              With Let's help Brochure
              and Video.
            </p>
          </ion-col>
        </ion-row>
      </div>

      <div class="cards" (click)="InviteFrinds()">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client shared icons/Invite Friends.png" class="icon_imgs" />
          </ion-col>
          <ion-col size="10">
            <ion-label class="head1 Arial font29" style="font-size: 13.5px !important;">Invite Friends</ion-label>
            <p class="Arial font24 gray" style="margin-top:4px; font-size: 11px !important;">Spread the Gift of Life</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
<!--<div class="footer_content">
  <div class="responsive-container" style="width: 100%;">
    <ion-row class="ion-nowrap ion-align-items-center" style="margin: 0; width: 100%;">
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/home">
          <ion-icon name="home-outline" class="tabs_icon"></ion-icon>
          <div class="tabs_title">Home</div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/needblood">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Donatenowwhite.png" />
          <div class="tabs_title">Find donor</div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" style="background-color:#a9b5cb;border:none" routerLink="/joincampaign">
          <img class="ficons_white" src="../../../assets/client images/All Icons/Home page Icons/joincampaign.png" />
          <div class="tabs_title"></div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/donorssearch">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Donate now.png" />
          <div class="tabs_title">Donate Now</div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/letshlpgallerry">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Gallery.png" />
          <div class="tabs_title">Gallery</div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>-->


<div class="footer_content">
  <ion-row>
    <ion-col size="2.4">
      <div class="border" routerLink="/home">
        <ion-icon name="home-outline" class="tabs_icon"></ion-icon>
        <div class="tabs_title">Home</div>
      </div>

    </ion-col>

    <ion-col size="2.4">
      <div class="border" routerLink="/needblood">
        <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Donatenowwhite.png" />
        <div class="tabs_title">Find donor</div>

      </div>

    </ion-col>
    <ion-col size="2.4"  routerLink="/joincampaign">
      <div class="border" style="margin-left:0.1rem;background-color:#a9b5cb;border:none">
        <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/joincampaign.png" />
        <div class="tabs_title">Campaign</div>
      </div>
    </ion-col>
    <ion-col size="2.4" routerLink="/donorssearch">
      <div class="border">
        <img src="../../../assets/client images/All Icons/Home page Icons/Donate now.png"
             class="ficons">
        <div class="tabs_title">Donate Now</div>
      </div>

      <!-- <div class="border">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Home- Find Donor.png" />
          <div class="tabs_title">Donate Now</div>
        </div> -->

    </ion-col>
    <ion-col size="2.4" routerLink="/letshlpgallerry">
      <div class="border">
        <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Gallery.png" />
        <div class="tabs_title">Gallery</div>
      </div>

    </ion-col>
  </ion-row>
</div>
