<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1" (click)="back(2)"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <!--<ion-col size="1" *ngIf=" Rk == 1 || Rk == 4" (click)="back(2)"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>-->
      <!--<ion-col size="1" *ngIf="setid==3" routerLink="/donatenow"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>-->
      <!--<ion-col size="11" *ngIf="setid == 1 ">
        <ion-title>REQUEST A PRESENTATION</ion-title>
      </ion-col>-->
      <ion-col size="11">
        <ion-title>ORGANISE A PRESENTATION</ion-title>
      </ion-col>



    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-row>
    <ion-col size="12">
      <div class="tab-wrap">
        <div class="tab-label-content">
          <input type="radio" name="tabs" id="tab1" [checked]="selectedTab === 'open'" (change)="setTab('open')">
          <label for="tab1" [ngClass]="{'active': selectedTab === 'open'}">Active</label>
        </div>
        <div class="tab-label-content">
          <input type="radio" name="tabs" id="tab2" [checked]="selectedTab === 'closed'" (change)="setTab('closed')">
          <label for="tab2" [ngClass]="{'active': selectedTab === 'closed'}">Closed</label>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <div>
    <!-- ACTIVE TAB -->
    <!-- No Records Found for Active Tab -->
    <div *ngIf="opening && (!requests || requests.length === 0)">
      <ion-row>
        <ion-col size="12">
          <div class="center">
            <div class="card" style="display:flex; justify-content:center; align-items:center;">
              <h4 style="margin:0!important; padding:0!important">No Records Found</h4>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="opening && requests && requests.length > 0">
      <ion-row>
        <ion-col size="12">
          <!--<ion-accordion-group [value]="activeAccordion" (ionChange)="onAccordionChange($event)">
    <ion-accordion *ngFor="let item of requests; let i = index" [value]="i">-->
          <ion-accordion-group [value]="activeAccordion" (ionChange)="onAccordionChange($event)">
            <ion-accordion *ngFor="let item of requests; let i = index" [value]="i">
              <div slot="header" class="guided-header" [ngClass]="{'open': activeAccordion === i}">
                <div class="guided-title">
                  {{ item.Venue_name }}
                  <!--<span *ngIf="item.OrgPresentation == 1 || item.OrgPresentation == true || item.OrgPresentation == 'true'" style="background-color: #ec1c2c; color: white; font-size: 8px; width: 14px; height: 14px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%; font-weight: bold; margin-left: 4px;">L</span>-->
                </div>
                <div class="guided-icon">
                  <span *ngIf="activeAccordion !== i">▼</span>
                  <span *ngIf="activeAccordion === i">▲</span>
                </div>
              </div>

              <div slot="content" class="content-wrapper" *ngIf="activeAccordion == i">
                <div class="card-details">
                  <div class="detail-section">
                    <!--<div class="detail-row"><strong>Venue:</strong> <span>{{ item.Venue_name }}</span></div>-->
                    <div class="detail-row"><strong>Name:</strong> <span>{{ item.Addedby }}</span></div>
                    <div class="detail-row"><strong>Venue Type:</strong> <span>{{ item.Venue }}</span></div>
                    <div class="detail-row"><strong>Audience:</strong> <span>{{ item.Audiance }}</span></div>
                    <div class="detail-row"><strong>Mode:</strong> <span>{{ item.Mode }}</span></div>
                    <div class="detail-row"><strong>Date:</strong> <span>{{ item.RequestDate | date: 'dd/MM/yyyy HH:mm' }}</span></div>
                    <div class="detail-row"><strong>Contact Person:</strong> <span>{{ item.Contact_name }}</span></div>
                    <div class="detail-row"><strong>Contact Number:</strong> <span>{{ item.Contact_number }}</span></div>
                    <div class="detail-row"><strong>Message:</strong> <span>{{ item.Message }}</span></div>
                    <div class="detail-row">
                      <strong>Address:</strong> <span>
                        {{ item.Address }}, {{ item.StateName }}, {{item.Pincode}}                       
                      </span>
                    </div>
                  </div>

                  <!-- Action Footer -->
                  <div class="footer-actions">
                    <div class="close-text" (click)="openmap(item.Latitude, item.Longitude, item.Address,item.StateName, item.Pincode)" style="color: red; cursor: pointer; display: flex; align-items: center; gap: 4px;">
                      <ion-icon name="location-outline"></ion-icon> Location
                    </div>
                    
                    <div *ngIf="!item.RequestAcceptStatus" style="display: flex; gap: 10px;">
                      <button class="accept" (click)="Accept(item, 1)">Accept</button>
                      <button class="accept" (click)="Accept(item, 2)">Reject</button>
                    </div>

                    <div *ngIf="item.RequestAcceptStatus == 1">
                      <button class="acceptt">Accepted</button>
                    </div>
                    <div *ngIf="item.RequestAcceptStatus == 2">
                      <button class="acceptt">Rejected</button>
                    </div>

                  </div>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </div>

    <!-- CLOSED TAB -->
    <!-- No Records Found for Closed Tab -->
    <div *ngIf="closed && !opening && (!closedrec || closedrec.length === 0)">
      <ion-row>
        <ion-col size="12">
          <div class="center">
            <div class="card">
              <h4>No Records Found</h4>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="closed && !opening && closedrec && closedrec.length > 0">
      <ion-row>
        <ion-col size="12">
          <ion-accordion-group [value]="activeAccordion" (ionChange)="onAccordionChange($event)">
            <ion-accordion *ngFor="let item of closedrec; let i = index" [value]="i">
              <div slot="header" class="guided-header" [ngClass]="{'open': activeAccordion === i}">
                <div class="guided-title">
                  {{ item.Venue_name }}
                  <!--<span *ngIf="item.OrgPresentation == 1 || item.OrgPresentation == true || item.OrgPresentation == 'true'" style="background-color: #ec1c2c; color: white; font-size: 8px; width: 14px; height: 14px; display: inline-flex; justify-content: center; align-items: center; border-radius: 50%; font-weight: bold; margin-left: 4px;">L</span>-->
                </div>
                <div class="guided-icon">
                  <span *ngIf="activeAccordion !== i">▼</span>
                  <span *ngIf="activeAccordion === i">▲</span>
                </div>
              </div>

              <div slot="content" class="content-wrapper" *ngIf="activeAccordion == i">
                <div class="card-details">
                  <div class="detail-section">
                    <!--<div class="detail-row"><strong>Venue:</strong> <span>{{ item.Venue_name }}</span></div>-->
                    <div class="detail-row"><strong>Name:</strong> <span>{{ item.Addedby }}</span></div>
                    <div class="detail-row"><strong>Venue Type:</strong> <span>{{ item.Venue }}</span></div>
                    <div class="detail-row"><strong>Audience:</strong> <span>{{ item.Audiance }}</span></div>
                    <div class="detail-row"><strong>Mode:</strong> <span>{{ item.Mode }}</span></div>
                    <div class="detail-row"><strong>Date:</strong> <span>{{ item.RequestDate | date: 'dd/MM/yyyy HH:mm' }}</span></div>
                    <div class="detail-row"><strong>Contact Person:</strong> <span>{{ item.Contact_name }}</span></div>
                    <div class="detail-row"><strong>Contact Number:</strong> <span>{{ item.Contact_number }}</span></div>
                    <div class="detail-row"><strong>Message:</strong> <span>{{ item.Message }}</span></div>
                    <div class="detail-row">
                      <strong>Address:</strong> <span>
                        {{ item.Address }}, {{ item.StateName }}, {{item.Pincode}}                       
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>
