<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="2" routerLink="/home">
        <!--<ion-icon name="chevron-back-outline"></ion-icon>-->
      </ion-col>
      <ion-col size="8">
        <ion-title>Find BLOOD</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="center-circle-section">
      <div class="card">
        <h4>Choose an option below</h4>
      </div>
    </div>

    <div class="action-cards-section">
      <div class="cards" routerLink="/searchdonors">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client shared icons/Search Donor.png" class="icon_imgs" />
          </ion-col>
          <ion-col size="10">
            <ion-label class="head1" style="font-size: 13.5px !important;">Search Donor</ion-label>
            <p class="gray" style="font-size: 11px !important;">Quickly Locate a Donor Near You</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="cards" routerLink="/myrequest">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="icon_img">
            <img src="../../../assets/client shared icons/Request for Blood.png" class="icon_imgs" />
          </ion-col>
          <ion-col size="10">
            <ion-label class="head1" style="font-size: 13.5px !important;">Post a Blood Request</ion-label>
            <p class="gray" style="font-size: 11px !important;">Let the 'Help' Reach you</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

<div class="footer_content" style="background-color: #f0f1f5">
  <div class="responsive-container" style="width: 100%;">
    <ion-row class="ion-nowrap ion-align-items-center" style="margin: 0; width: 100%;">
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/home">
          <ion-icon name="home-outline" class="tabs_icon"></ion-icon>
          <div class="tabs_title">Home</div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/needblood" style="background-color:#a9b5cb;border:none">
          <img class="ficons_white" src="../../../assets/client images/All Icons/Home page Icons/Home- Find Donor.png" />
          <div class="tabs_title"></div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/joincampaign">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Join Campaign.png" />
          <div class="tabs_title">Campaign</div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/donorssearch">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Donate now.png" />
          <div class="tabs_title">Donate Now</div>
        </div>
      </ion-col>
      <ion-col size="2.4" class="footer_col">
        <div class="border footer-btn" routerLink="/letshlpgallerry">
          <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Gallery.png" />
          <div class="tabs_title">Gallery</div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>
