<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" routerLink="/home">
        <!--<ion-icon name="chevron-back-outline"></ion-icon>-->
      </ion-col>
      <ion-col size="8">
        <ion-title>Find BLOOD</ion-title>
      </ion-col>
      <ion-col size="2">
        <!--<ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="hvh">
  <ion-row>
    <ion-col size="12">
      <div class="center imgg">
        <div class="card">
          <h4>Choose an option below</h4>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <div class="vertical-center-wrapper">
    <ion-row class="row-spacing">
      <ion-col size="12">
        <div class="cards" routerLink="/searchdonors">
          <ion-row>
            <ion-col size="2" class="icon_img">
              <img src="../../../assets/client shared icons/Search Donor.png" class="icon_imgs" />
            </ion-col>
            <ion-col size="10">
              <ion-label class="head1 " style="font-size: 13px !important;">Search Donor</ion-label>
              <p class="gray" style="font-size: 11px !important;">Quickly Locate a Donor Near You</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="cards" routerLink="/myrequest">
          <ion-row>
            <ion-col size="2" class="icon_img">
              <img src="../../../assets/client shared icons/Request for Blood.png" class="icon_imgs" />
            </ion-col>
            <ion-col size="10">
              <!--<ion-label class="head1 " style="font-size: 13px !important;"> Request for Blood(Post a Blood Request)</ion-label>-->
              <ion-label class="head1 " style="font-size: 13px !important;">Post a Blood Request</ion-label>
              <p class="gray" style="font-size: 11px !important;">Let the 'Help' Reach you</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

<div class="footer_content">
  <ion-row>
    <ion-col size="2.4">
      <div class="border" routerLink="/home">
        <ion-icon name="home-outline" class="tabs_icon"></ion-icon>
        <div class="tabs_title">Home</div>
      </div>

    </ion-col>
    <ion-col size="2.4">
      <div class="border" routerLink="/needblood" style="background-color:#a9b5cb;border:none">
        <!--<ion-icon name="person-outline" class="tabs_icon" style="color:white;font-size: 25px;"></ion-icon>-->
        <img class="ficons_white" src="../../../assets/client images/All Icons/Home page Icons/Home- Find Donor.png" />
        <div class="tabs_title"></div>
      </div>

    </ion-col>
    <ion-col size="2.4">
      <div class="border" routerLink="/joincampaign">
        <!--<ion-icon name="hand-right-outline" class="tabs_icon"></ion-icon>-->
        <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Join Campaign.png" />
        <div class="tabs_title">Campaign</div>
      </div>
    </ion-col>
    <ion-col size="2.4" routerLink="/donorssearch">
      <div class="border">
        <!--<ion-icon name="egg-outline" class="tabs_icon"></ion-icon>-->
        <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Donate now.png" />
        <div class="tabs_title">Donate Now</div>
      </div>

    </ion-col>
    <ion-col size="2.4" routerLink="/letshlpgallerry">
      <div class="border">
        <!--<ion-icon name="images-outline" class="tabs_icon"></ion-icon>-->
        <img class="ficons" src="../../../assets/client images/All Icons/Home page Icons/Gallery.png" />
        <div class="tabs_title">Gallery</div>
      </div>

    </ion-col>
  </ion-row>
</div>
