.items_center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input_icon {
  position: absolute;
  left: 25px;
  font-size: 18px;
  top: 18%;
}

.input_field {
  width: 90%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*font-size: 16px;*/
  margin-bottom:5%
}

.eye_icon {
  position: absolute;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
  top: 18%;
}
p{
  padding:20px;
  color:black
}
ion-footer button {
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
  width: 90%;
  margin: 5%
}
