
h4 {
  text-align: center;
  color: black;
  padding: 5%;
}

.center{
  align-items:center;
  justify-content:center;
  display:flex
}
button {
  padding: 10px;
  border-radius: 20px;
  width: 88%;
  margin: 5%;
  background-color: #ec1c2c;
  color: white;
}
.frist{
  height:60vh;
}
.second {
  height: 20vh;
}
.third {
  height: 10vh;
}
