<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="headerhight">
  <ion-row class="headerw-100">
    <ion-col size="2" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
    <ion-col size="8">
      <ion-title>QUIZ</ion-title>
    </ion-col>
    <ion-col size="2">
      <!--<ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>-->
    </ion-col>
  </ion-row>
      </div>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="frist">
    <ion-row>
      <ion-col size="12">
        <div class="center">
          <img style="    width: 80%;" src="https://media.istockphoto.com/id/1616906708/vector/vector-speech-bubble-with-quiz-time-words-trendy-text-balloon-with-geometric-grapic-shape.jpg?s=612x612&w=0&k=20&c=3-qsji8Y5QSuShaMi6cqONlVZ3womknA5CiJ4PCeZEI=" />
        </div>
      </ion-col>
      <ion-col size="12">
        <h4>Answer a few questions to find out if you are eligible to donate</h4>
      </ion-col>
    </ion-row>
  </div>
  <div class="second">
    <ion-row>
      <ion-col size="12">
        <button routerLink="/quizquestions">Start Quiz</button>
      </ion-col>
    </ion-row>
  </div>
  <div class="third">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="1"><ion-icon name="alert-circle-outline"style="font-size:18px"></ion-icon></ion-col>
      <ion-col size="10"><div style="color:gray">this test is informative and does not exclude rejection on other criteria</div></ion-col>
    </ion-row>
  </div>
</ion-content>
