<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>termsandconditionsside</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">termsandconditionsside</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>-->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" routerLink="/home" *ngIf="UserDetails"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="2" routerLink="/signup" *ngIf="!UserDetails"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
      <ion-col size="10">
        <ion-title>TERMS OF USE & DISCLAIMER</ion-title>
      </ion-col>
      <!--<ion-col size="2">
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>-->
    </ion-row>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <ion-row>
    <ion-col size="12" class="terms">
      <p>
        In using this Site, you agree to and understand these Terms of Use as well as our Privacy Policy.
        Lets-help website reserves the right to change the content within the web pages and within the Website
        Privacy Policy and Terms and Conditions at any time, without notice, at any time by updating this
        posting. You should visit this page periodically to review the current terms and conditions.
      </p> <h5>GENERAL DISCLAIMER:</h5>
      <strong>  Lets Help.com is a Non Profit, Non Commercial, ......</strong>
      <p>
        The information on this Site or otherwise communicated to users of this Site, including information
        communicated via e-mail is is provided solely for the Social cause and this site is Non Commercial, .<br>
        We make reasonable efforts to present current and accurate information. We would not
        assume any legal liability and makes no representations or warranties concerning the accuracy,
        completeness, timeliness, reliability or usefulness of the materials accessed from or through this Site
        or any other site accessed through this Site. No warranty is made that the information provided is error-
        free. The numbers, percentages and ratios contained within the web pages may be, at any time,
        outdated and may include inaccuracies and/or errors.<br>
        Lets-help assumes no responsibility or liability for any consequence resulting directly or indirectly from
        any action you take based on or made in reliance on the information or materials on this Site, or other
        sites linked to it. It does not represent or warrant that access to this Site or any sites linked to this Site
        will be uninterrupted, that this Site will operate error free. This Site or any portion thereof may be
        unavailable at any time
      </p>
      <h5>NOTIFICATION OF CHANGES:</h5>
      <p>
        We aim to update our site regularly, and may change the content at any time. If the need arises, we may
        suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at
        any given time, and we are under no obligation to update such material.
      </p>
      <h5>SECURITY</h5>
      <p>
        This website takes reasonable precautions to protect user information from unauthorized use or
        alteration. All data, correspondence, and responses that the user of the website provides will be
        handled confidentially, both online and offline.. Any Information Users submit via this website will not
        be shared nor rented, nor sold to others in any forms. All of our users’ personally identifiable
        information is restricted to our website only. However, the information that is needed for the Sole
        purpose of blood donation registration will be available for the public view.
        COPY RIGHT and TRADE MARKS
        All media (downloaded or samples), text, images, graphics, user interfaces, videos, photographs, and
        other content on the Site, including, but not limited to, the design, selection, arrangement, and
        coordination of such content on the Site, is not owned or licensed by or to Lets-help. Being a Social,
        Non commercial website, its been sourced through various forms from the Internet. We would like to

        thank all the News Channels in India, not limited to, English, Hindi or regional who has played a
        prominent part in building up this Website,we would like to thank Google, Wikipedia, Youtube and
        many more online informational sites that being a building block in making Lets-help and we assure
        you that none of the material will not be exploited for any commercial usage. You have been a part of
        our sincere endeavor of creating a good society and a social cause. If you still feel that your material,
        information should be deleted from this website, please feel free to send an email with the
        information to letshelp.ind gmail.com and we would delete it as soon as possible.

        REVIEWS, COMMENTS, COMMUNICATION and OTHER
        Site visitors may send communications; and submit suggestions, ideas, comments, questions, or other
        information, provided that the content is not illegal, obscene, threatening, defamatory, invasive of
        privacy or objectionable and does not consist of or contain software viruses, political campaigning,
        commercial solicitation, chain letters, mass mailings, or any form of “spam”. You may not use a false
        email address, impersonate any person or entity, or otherwise mislead as to the content’s origin.
        We have the right to disable any user identification code or password, whether chosen by you or
        allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of
        these terms of use.

        LINKS TO OTHER SITES
        This website may provide links or references to other sites. These links are provided for your
        convenience and Lets-help is not responsible for the content of these other sites, does not make any
        representations or gives any warranties with respect to any information contained in or at these other
        sites, and shall not be liable for any damages or injury arising from the content of these other
        sites.When leaving Lets-help website to visit another website, we recommend that you review that
        website’s terms and conditions and privacy policy.
        YOUR CONCERNS – TO CONTACT US
        If you have any questions concerning your right to the privacy and confidentiality of your personal
        information and data that has been entrusted to Lets-help.com website or for any specific inquiries,
        please contact us directly using our online contact us form
      </p>
      <p class="thank"> Thank you for visiting our site.</p>

    </ion-col>
  </ion-row>
</ion-content>-->
<ion-content>
  <ion-row>
    <ion-col size="12" class="terms">
      <p>
        In using this Website/App, you agree to and understand these Terms of Use as well as our Privacy Policy.
      </p>
      <h5>GENERAL DISCLAIMER:</h5>
      <p>
        Let’s Help is a non-profit, non-commercial organisation dedicated to a social cause. The information provided on the Website/App, including communications via email, contact number, and app notifications, is intended solely for informational purposes related to our social mission.
      </p>
      <p>
        While we make reasonable efforts to ensure the information is current and accurate, we do not assume any legal liability or make any representations or warranties regarding the accuracy, completeness, timeliness, reliability, or usefulness of the materials on this website/App or any linked website/Apps. The information provided may contain errors, inaccuracies, or outdated information.
      </p>
      <p>
        Let’s Help disclaims all responsibility and liability for any consequences arising directly or indirectly from actions based on the information or materials on this website/App or any linked website/App. We do not guarantee uninterrupted access to the website/App or error-free operation, the website/App or any part of it may be unavailable at any time.
      </p>
      <h5>SECURITY:</h5>
      <p>
        This Website/App takes reasonable precautions to protect user information from unauthorised use or alteration. All data, correspondence, and responses that the user of the Website/App provides will be handled confidentially, both online and offline. Any Information Users submit via this Website/App will not be shared, rented, or sold to others in any form. All of our users’ personally identifiable information is restricted to our Website/App only. However, the information that is needed for the sole purpose of blood donation registration will be available for public view.
      </p>
      <h5>COPYRIGHT AND TRADEMARKS NOTICE:</h5>
      <p>
        Although we strive to create content internally, some media on the website/App—including text, images, graphics, user interfaces, videos, photographs, and other elements—are neither owned by nor licensed to Let’s Help. As a non-commercial social platform, we source this content from various internet sources.
      </p>
      <p>
        We gratefully acknowledge these sources, including Google, YouTube, Donorum, Freepik, and other online informational sites that have played a role in the development of Let’s Help. Please be assured that none of this material is used for commercial purposes.
      </p>
      <p>If you believe that any content on the Website/App infringes on your rights or if you have any concerns, please contact us at <a href="mailto:letshelp.ind&#64;gmail.com">letshelp.ind&#64;gmail.com</a>.</p>

      <!--<p>
    If you believe that any content on the Website/App infringes on your rights or if you have any concerns, please contact us at letshelp.ind@gmail.com or use the contact page. We will address your concerns promptly. Thank you for supporting our mission to promote a positive and socially responsible community.
  </p>-->
      <h5>REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTRIBUTIONS:</h5>
      <p>
        Visitors to the website/App are welcome to send communications and submit suggestions, ideas, comments, questions, or other content, provided that such content is legal and does not include anything obscene, threatening, defamatory, invasive of privacy, or objectionable. Additionally, content must not contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam."
      </p>
      <p>
        Users must not use false email addresses, impersonate others, or otherwise mislead regarding the origin of the content. We reserve the right to disable any user identification code or password, whether chosen by you or assigned by us, at any time if we determine, in our sole discretion, that you have violated these terms of use.
      </p>
      <h5>LINKS TO OTHER WEBSITE/APPS:</h5>
      <p>
        This Website/App may provide links or references to other websites/Apps. These links are provided for your convenience, and Let’s Help is not responsible for the content of these other Sites/Apps, does not make any representations or gives any warranties for any information contained in or at these other Sites/Apps, and shall not be liable for any damages or injury arising from the content of these other Sites/Apps. When leaving the Let’s Help Website/App to visit another Website/App, we recommend that you review that Website/App’s terms and conditions.
      </p>
      <h5>NOTIFICATION OF CHANGES:</h5>
      <p>
        We are dedicated to regularly updating our Site and app, and may make changes to their content at any time. In certain situations, we might need to temporarily suspend access or close them permanently.
      </p>
      <p>
        While we strive to keep our Site and app up-to-date, some content may become outdated and may not be updated immediately. We appreciate your patience and understanding as we work to provide the most relevant and accurate experience possible.
      </p>
      <h5>YOUR CONCERNS:</h5>
      <p>
        If you have any questions concerning the Terms of Use and Disclaimer of the Let’s Help Website/App, or for any specific inquiries, don't hesitate to get in touch with us directly using our online contact us form.
      </p>
      <p class="thank">Thank you for visiting Let’s Help.</p>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ftr" *ngIf="UserDetails != null">
  <button expand="full" style="width:100%" class="red-button ftr" ripple (click)="GotoSignup()">Accept</button>
</ion-footer>
<!--<ion-footer *ngIf="UserDetails != null">
  <ion-row>
    <ion-col size="6"><div><button class="items_center">Reject</button></div></ion-col>
    <ion-col size="6"><button class="items_center" (click)="GotoSignup()" style="float:right">Accept</button></ion-col>
  </ion-row>
</ion-footer>-->

