

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="headerhight">
      <ion-row class="headerw-100">
        <ion-col size="1">
          <ion-icon name="chevron-back-outline" routerLink="/home"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-title>REGISTER DONATION / SHARE YOUR SERVICE</ion-title>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" style="margin-left:15px">
      <h2>Donation and validation</h2>
      You will recieve an certificate of Appreciation once your Donatin is validated
    </ion-col>
    <ion-col size="4"></ion-col>
    <ion-col size="4" style="display:flex; justify-content:center;">
      <img src="../../../assets/Images/gggg.JPG" />
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>

  <ion-grid class="gridd">

    <!-- Blood Request Dropdown -->
    <ion-row>
      <ion-col size="12">
        <div class="header-bar">

          <div class="title-text">
            Accepted blood request Id's
          </div>

          <div *ngIf="messg"  (click)="goToDonate()">
            <p  class="no-req">No Requests</p>
          </div>

          <div class="select-box" *ngIf="!messg">
            <ion-icon name="funnel" class="funnel-icon"></ion-icon>
            <ion-select placeholder="Select Blood Request"
                        [(ngModel)]="selectedBloodRequestID"
                        (ionChange)="reqst(selectedBloodRequestID)"
                         (ionCancel)="clearBloodRequest()"> <!-- 🔴 CHANGED -->>
              <ion-select-option *ngFor="let item of dropBloodRequestIDs"
                                 [value]="item.BloodRequestID">
                {{ item.BloodRequestID }} ({{ item.FullName }})
              </ion-select-option>
            </ion-select>
          </div>

        </div>
      </ion-col>
    </ion-row>

    <!-- Search -->
    <div *ngIf="!hideSearchBar">
      <ion-searchbar [(ngModel)]="searchQuery"
                     (ionInput)="onSearchInput()"
                     debounce="500"
                     placeholder="Search for a location">
      </ion-searchbar>

      <ion-list *ngIf="predictions?.length">
        <ion-item *ngFor="let prediction of predictions"
                  (click)="selectPrediction(prediction)">
          {{ prediction.description }}
        </ion-item>
      </ion-list>
    </div>

    <!-- Map -->
    <div class="map-wrapper">
      <div #map id="map"></div>
    </div>

  </ion-grid>

  <!-- ===== DONATION DETAILS ===== -->

  <div *ngIf="Myhospital">
    <ion-row>
      <ion-col size="12">
        <ion-card style="background-color:white;">
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <h5>Donation Center:</h5>
              </ion-col>
              <ion-col size="6">
                <div>{{ Myhospital }}</div>
              </ion-col>

              <!-- Donate Date (LOCKED when BloodRequest selected) -->
              <ion-col size="12">
                <ion-item id="open-modal2"
                          class="custom_item transparent-item"
                          [disabled]="isDateLocked">

                  <ion-label>Donate Date:</ion-label>

                  <!-- Calendar icon only when editable -->
                  <ion-icon name="calendar-outline"
                            slot="end"
                            *ngIf="!Donate && !isDateLocked">
                  </ion-icon>

                  <div class="regright" *ngIf="Donate">
                    {{ donatedate | date: 'dd-MM-yyyy' }}
                  </div>

                </ion-item>

                <!-- Date Picker Modal (ONLY when NOT locked) -->
                <ion-modal #modal2
                           *ngIf="!isDateLocked"
                           trigger="open-modal2"
                           [initialBreakpoint]="0.50"
                           [breakpoints]="[0,1]">

                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-buttons slot="end">
                          <ion-button (click)="modal2.dismiss()" style="color:blue">
                            OK
                          </ion-button>
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>

                    <ion-item>
                      <ion-datetime presentation="date"
                                    [max]="maxDate"
                                    [preferWheel]="true"
                                    [(ngModel)]="donatedate"
                                    (ionChange)="Donatedate($event.detail.value)">
                      </ion-datetime>
                    </ion-item>

                  </ng-template>
                </ion-modal>

                <!-- Optional hint -->
                <ion-note color="medium" *ngIf="isDateLocked">
                  <!--Donation date is fixed for this blood request-->
                </ion-note>

              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>

        <!-- Upload Image -->
        <ion-card *ngIf="Donate" style="background-color:white; margin-top:4px">
          <ion-grid>
            <ion-row (click)="take1('')">
              <ion-col size="8" class="cardss text-center">
                Add Donor Book Picture
              </ion-col>
              <ion-col size="4" class="ion-text-end camm">
                <ion-icon name="camera" class="retakes"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    </ion-row>

    <div class="donor" *ngIf="selectedImage">
      <img [src]="HomeUrl + selectedImage" class="imgclass" />
    </div>
  </div>

</ion-content>

